.containerBox{
    height: 460px;
    width: 450px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 25px;
}

.containerHeader {
    width: 100%;
    height: px;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 62, 114);
}

.overallContainer{
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.Message {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.Background {
    background-color: rgb(229, 229, 229);
    color: rgb(54, 54, 54);
    text-align: center;
}

.Buttons {
    height: 122px; 
    min-width: 52px; 
    text-align: center;
    border-radius: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: -110px;
    position: relative;
    clear: both;
    line-height: 18px;
    -webkit-box-align: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    width: auto;
    margin-right: 4px;
    transition: opacity 0.3s ease 0s;
}

.buttonBlackText{
    color: black;
}

.TextBoxFormat {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    align-items: center;
}

.chatBotFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
}

.chatBotOptions {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatBotBox{
    z-index: 30;
    display: flex;
    transform: translateY(0px);
    position: relative;
    flex-direction: column;
    left:0.1px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Feedback Button{
    text-align: center;
    height: 30px; 
    color: rgb(65, 143, 238);
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-bottom: 89px;
    margin-right: 40px;
}
