.course-card {
    align-content: center;
}
.card {
    display: flex;
}
.horizontal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* Adjust alignment as needed */
    transform-origin: 10%;
  }
  .course{
    transform-origin: 10% 10% 0px;

  }