.card-body {
    display: flex;
    flex-wrap: wrap;
    /*can adjust the spacing between cards*/
    justify-content: space-between; 
    margin: 0 -10px; 
  }
  
  .card-group {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each card as needed, with margin included */
    margin: 10px; /* Create spacing between cards */
  }
  