.card-group {
    width: 50%;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.horizontal-row{
    width: 50%;
}
.course {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    width:100%;
}
