.card-body {
    width: 100%;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
img, svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}