#article-title {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#article-metadata {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#article-content {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 30px;
    padding-right: 30px;
    width: 80%;
    font-size: 20px;
}

#article-image {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-right: 100px;
}