@font-face {
	font-family: Centra;
	src: url('./assets/Now-Regular.otf');
	font-weight: 700;
}
.App {
  display: flex;
  text-align: center;
}

#header-container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#header-container ul li{
  float: left;
  padding: 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  max-width: 200px;
  max-height: 200px;
  margin-right: 50px;
}

.App-header {
  background-color: #0f5b97c4;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-footer {
  background-color: #0f5b97c4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Centra', sans-serif !important;
}