/*Set the height and width of the news widget to be 300px by 600px*/
#news-feed {
    background-color: white;
    max-height: 300px;
    max-width: 600px;
    border-radius: 5px;
    overflow: auto;
}